*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
button, digital-number__backwards, .money-calculation__button{
    padding: 5px;
    position: relative;
    left: 310px;
    margin-top: 10px;
    opacity: 0.5;
    border-radius: 20px;
    
}

button:hover{
    opacity: 1;
    border-radius: 5px;
    -webkit-transition: .5s;
    transition: .8s;
    transform: scale(1.1);
}
section{
    margin-bottom: 50px;
}

p{
    margin: 10px 0;
    min-width: 300px;
}
h2{
    margin-bottom: 30px;
}
input{
    align-self: center;
    padding-left: 5px;

}

body{
    padding: 50px;
}

.section-files{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.usb-size__gb-input, .file-size__gb-input, .total-files__input{
    height: 20px;
}

span{
    margin: auto 0;
    border-bottom: 1px solid gray;
}